In [10]:
# FILTRAMOS DATA POR ECUADOR
import pandas as pd
from skimpy import skim

In [11]:
df = pd.read_csv('WHOMortalityDatabase_Trends_years_sex_a_country_area_age-Injuries_16th abril 2024 16_13.csv')
df

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
EU,Europe,ALB,Albania,1987,All,Age_all,[All],736.0,4.247951,24.55532,23.926400,NaN
EU,Europe,ALB,Albania,1987,All,Age00,[0],41.0,1.667344,NaN,50.868486,NaN
EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],77.0,6.234818,NaN,26.923077,NaN
EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],44.0,21.782178,NaN,13.209246,NaN
EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],34.0,25.185185,NaN,10.756090,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
AS,Asia,SAU,Saudi Arabia,2021,Female,Age70_74,[70-74],71.0,2.354111,NaN,79.300370,NaN
AS,Asia,SAU,Saudi Arabia,2021,Female,Age75_79,[75-79],73.0,2.009359,NaN,114.834041,NaN
AS,Asia,SAU,Saudi Arabia,2021,Female,Age80_84,[80-84],72.0,2.104033,NaN,186.003255,NaN
AS,Asia,SAU,Saudi Arabia,2021,Female,Age85_over,[85+],117.0,2.332071,NaN,334.773527,NaN
AS,Asia,SAU,Saudi Arabia,2021,Female,Age_unknown,[Unknown],0.0,NaN,NaN,NaN,NaN

In [ ]:
df1 = pd.read_csv('WHOMortalityDatabase_Trends_years_sex_a_country_area_age-Injuries_16th abril 2024 16_13.csv')
df1

In [1]:
from ucimlrepo import fetch_ucirepo 
# fetch dataset 
breast_cancer_wisconsin_diagnostic = fetch_ucirepo(id=17) 
  
# data (as pandas dataframes) 
X = breast_cancer_wisconsin_diagnostic.data.features 
y = breast_cancer_wisconsin_diagnostic.data.targets 
  
# metadata 
print(breast_cancer_wisconsin_diagnostic.metadata) 
  
# variable information 
print(breast_cancer_wisconsin_diagnostic.variables)

ModuleNotFoundError: No module named 'ucimlrepo'

In [1]:
import plotly.express as px

print(px.colors.qualitative.Pastel)

['rgb(102, 197, 204)', 'rgb(246, 207, 113)', 'rgb(248, 156, 116)', 'rgb(220, 176, 242)', 'rgb(135, 197, 95)', 'rgb(158, 185, 243)', 'rgb(254, 136, 177)', 'rgb(201, 219, 116)', 'rgb(139, 224, 164)', 'rgb(180, 151, 231)', 'rgb(179, 179, 179)']

In [6]:
lista = [0.0]*20
print(lista)
lista2= [1]*10
listaof = lista2+lista
print(listaof)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]